*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

display:flex;

height:100vh;

background:#0f172a;

color:white;

}

.sidebar{

width:260px;

background:#111827;

padding:20px;

display:flex;

flex-direction:column;

gap:10px;

}

.sidebar h2{

margin-bottom:20px;

}

.sidebar button{

height:45px;

border:none;

border-radius:10px;

background:#1e293b;

color:white;

cursor:pointer;

}

.main{

flex:1;

display:flex;

flex-direction:column;

}

#messages{

flex:1;

overflow:auto;

padding:20px;

}

.ai{

background:#1e293b;

padding:15px;

border-radius:12px;

margin-bottom:15px;

}

.user{

background:#2563eb;

padding:15px;

border-radius:12px;

margin-bottom:15px;

}

.bottom{

display:flex;

padding:15px;

gap:10px;

}

textarea{

flex:1;

height:70px;

padding:12px;

border-radius:10px;

}

#send{

width:120px;

border:none;

background:#22c55e;

color:white;

border-radius:10px;

cursor:pointer;

}