*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial;

}

body{

background:#0f172a;

color:white;

padding:25px;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

header button{

background:red;

color:white;

border:none;

padding:10px 20px;

border-radius:8px;

cursor:pointer;

}

.card{

background:#1e293b;

padding:20px;

border-radius:15px;

text-align:center;

margin-bottom:20px;

}

.card img{

width:90px;

height:90px;

border-radius:50%;

margin-bottom:10px;

}

.info{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(150px,1fr));

gap:15px;

}

.box{

background:#1e293b;

padding:20px;

border-radius:12px;

text-align:center;

}

#upgrade{

margin-top:30px;

width:100%;

height:55px;

border:none;

border-radius:12px;

background:#22c55e;

color:white;

font-size:18px;

cursor:pointer;

}

textarea{

width:100%;

margin-top:25px;

height:180px;

padding:15px;

border-radius:12px;

font-size:16px;

}

#sendAI{

margin-top:15px;

width:100%;

height:50px;

background:#2563eb;

border:none;

border-radius:12px;

color:white;

font-size:18px;

cursor:pointer;

}

#response{

margin-top:25px;

background:#1e293b;

padding:20px;

border-radius:12px;

min-height:120px;

white-space:pre-wrap;

}

#chatBtn{
    margin-top:15px;
    width:100%;
    height:55px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:12px;
    cursor:pointer;
    font-size:18px;
}